<div class="page">
    <div class="left-side">
    </div>
    <div class="right-side">
        <div class="post-data">
            <div class="post-data-question">
                <h1>The question is placed here!</h1>
                <p>Here you will have the posted date</p>
                <p class="border-bottom"></p>
            </div>
            <div class="post-data-description">
                <p>The description is placed here!</p>
                <p>Here you will have the descriptiondate</p>
                <p class="post-end-border-bottom"></p>
            </div>
            <div class="answers-div">
                <h5>Answers:</h5>

                <p>Text</p>
                <p>PublishedAt</p>
                <p>Author</p>
            </div>
        </div>
        <div class="author-data">

        </div>
    </div>
</div>