@font-face {
  font-family: "Regular";
  src: url("./assets/fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Bold";
  src: url("./assets/fonts/Raleway/static/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Medium";
  src: url("./assets/fonts/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Italic";
  src: url("./assets/fonts/Raleway/static/Raleway-Italic.ttf");
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --regular-font-family: "Regular", sans-serif;
  --bold-font-family: "Bold", sans-serif;
  --medium-font-family: "Medium", sans-serif;
  --italic-font-family: "Italic", sans-serif;
  --dark-theme-background-color: #373737;
  --dark-theme-primary-button-color: #ea9215;
  --dark-theme-primary-text-color: #e5e2dd;
}

.ck-editor__editable_inline {
  min-height: 80%;
  max-height: 100%;
  min-width: 80%;
  max-width: 100%;
}