<div class="page">
    <div class="content">
        <div class="user-info">
            <div class="user-photo-div">
                <img id="profile-pic" src="../../../assets/user-photo-example.png"> 
            </div>
                 <div class="user-names-div align-self-center">
                <p>John Doe</p>
            </div>
            <div class="additional-user-data align-self-center">
                <span class="user-stats">1242 answers</span>
                <span class="user-stats">123 posts</span>
            </div>
        </div>
        <div class="user-activity">
            <button id="user-posts" class="activity-tab">Posts</button>
            <button id="user-answers" class="activity-tab">Answers</button>
            <div class="activity-dashboard">
                <div class="post-item">
                    <div class="post-item-data">
                        <p>Post Title</p>
                        <p>on 26.02.2021 | 5 answers</p>
                        <p>Math</p>
                    </div>
                    <button class="simple-button orange-button">Read More</button>
                </div>
                <div class="answer-item">
                    <div class="post-item-data">
                        <p>Post Title</p>
                        <p>To denis_tsv13@abv.bg | on 26.02.2021 | 5 answers</p>
                        <p>Short description</p>
                    </div>
                    <button class="simple-button orange-button">Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>