<div class="content-div">
    <div class="user-profile-data">
        <div class="user-photo-div">
            <img id="profile-pic" src="../../../assets/user-photo-example.png"> 
        </div>
        <div class="user-names-div align-self-center">
            <p>John Doe</p>
        </div>
        <div class="additional-user-data align-self-center">
            <span class="user-stats">1242 answers</span>
            <span class="user-stats">123 posts</span>
        </div>
    </div>
    <div class="user-work-data align-self-center">
        <div class="posts">

        </div>
        <div class="answers">
            
        </div>
    </div>
</div>