.content-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-primary-text-color);
}

.user-profile-data {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #494949;
    padding: 1rem 0rem;
    border-radius: 15px;
}

.user-work-data {
    width: 60%;
    height: 100%;
    display: flex;
    align-self: center;
}

.user-photo-div {
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.align-self-center {
    align-self: center;
}

#profile-pic {  
    width: 15%;
    border-radius: 1.5rem;
}

.user-stats {
    padding: 1rem;
    border-left: 0.5px solid #373737;
    border-right: 1px solid #373737;
}

.user-names-div {
    margin: 0.5rem 0rem;
}