<div class="post-form-div">
    <div class="content-div">
        <form (ngSubmit)="onSubmit()" #postForm="ngForm">
            <h4 class="form-title">Create your post:</h4>
            <p class="tip-text">When you select a text which is entered, you can edit it.</p>
            <div class="form-button form-group">
                <ckeditor name="title" [(ngModel)]="model.title" [editor]="Editor" data="Title"></ckeditor>
            </div>
            <div class="description-div form-button form-group">
                <ckeditor name="description" [(ngModel)]="model.description" class="textarea" [editor]="Editor" data="Description"></ckeditor>
            </div>
            <div class="create-button-div">
                <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Create</button>
            </div>
        </form>
    </div>
</div>