.page-content {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    color: var(--dark-theme-primary-text-color);
    text-align: center;
    background-image: url("../../../assets/girl-studying.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-text {
    font-family: var(--bold-font-family);
}

.introduction-div {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8rem;
}

.search-instructions-bar {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}