.navbar {
  background-color: #262626;
}

.navbar-item {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-menu {
  display: flex;
}

.navbar-menu-item {
  margin: 1rem;
}

.navbar-item:first-child {
  justify-content: flex-start;
}

.navbar-item:last-child {
  justify-content: flex-end;
}

.search {
  width: 100%;
}